@{
    Layout = null;
}

 <!-- BEGIN HORIZANTAL MENU -->
<!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
<!-- DOC: This is desktop version of the horizontal menu. The mobile version is defined(duplicated) sidebar menu below. So the horizontal menu has 2 seperate versions -->
<div class="hor-menu hor-menu-light hidden-sm hidden-xs">
    <ul class="nav navbar-nav" id="top-nav">
        <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the horizontal opening on mouse hover -->
        <li class="classic-menu-dropdown">
            <a href="/" id="menu-home">
                主 页
            </a>
        </li>
        <li class="classic-menu-dropdown">
            <a data-toggle="dropdown" href="javascript:;" id="menu-center">
                组立中心 <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-left">
                <li class="dropdown-submenu">
                    <a href="href=" javascript:;">
                        <i class="fa fa-bookmark-o"></i> 部材录入
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Index", "Coil")">
                                线圈录入
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "LowSpring")">
                                下板弹簧录入
                            </a>
                        </li>
                        <li>
                            <a href="index.html">
                                磁轭录入
                            </a>
                        </li>
                        <li>
                            <a href="index.html">
                                上板弹簧录入
                            </a>
                        </li>
                        <li>
                            <a href="index.html">
                                磁石录入
                            </a>
                        </li>
                        <li>
                            <a href="index.html">
                                底座录入
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="javascript:;">
                        <i class="fa fa-user"></i> 板弹簧工序
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Index", "BladeSpring")">
                                工序入口
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                日盘点
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                周盘点
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                月盘点
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="javascript:;">
                        <i class="fa fa-puzzle-piece"></i> 洗净干燥工序
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Index", "DryClean")">
                                工序入口
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                日盘点
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                周盘点
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                月盘点
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="javascript:;">
                        <i class="fa fa-gift"></i> 磁轭工序
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Index", "Yoke")">
                                工序入口
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                日盘点
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                周盘点
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                月盘点
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-table"></i> ACT组立工序
                    </a>
                </li>
                <li class="dropdown-submenu">
                    <a href="javascript:;">
                        <i class="fa fa-empire"></i> 封止工序
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Index", "Seal")">
                                工序入口
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                日盘点
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                周盘点
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                月盘点
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="javascript:;">
                        <i class="fa fa-certificate"></i> HEF洗净工序
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Index", "HEF")">
                                工序入口
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                日盘点
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                周盘点
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                月盘点
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="javascript:;">
                        <i class="fa fa-bolt"></i> 电检工序
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Index", "ETest")">
                                工序入口
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                日盘点
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                周盘点
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                月盘点
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="javascript:;">
                        <i class="fa fa-film"></i> 最终外观工序
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Index", "FinalCheck")">
                                工序入口
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                日盘点
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                周盘点
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                月盘点
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="classic-menu-dropdown">
            <a href="#">
                追溯查询
            </a>
        </li>
        <li class="classic-menu-dropdown">
            <a href="#">
                系统设置
            </a>
        </li>
    </ul>
</div>
<!-- END HORIZANTAL MENU -->
