@model Erato.Model.Dept

@{
    ViewBag.Title = "删除部门";
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title <small>删除部门</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="/">基本资料</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">部门资料</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-header"></i>部门信息
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <h3>是否确定删除该信息?</h3>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="width:20%;">属性</th>
                            <th>值</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.DeptNo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.DeptNo)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.DeptName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.DeptName)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Remarks)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Remarks)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.OperationTime)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.OperationTime)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Operator)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Operator)
                            </td>
                        </tr>
                    </tbody>
                </table>

                <hr />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(item => item._id)
                    
                    <div class="form-actions no-color">
                        <input type="submit" value="删除" class="btn btn-danger" /> 
                        <a href="@Url.Action("Index", new { controller = "Dept" })" class="btn btn-primary" role="button"><i class="fa fa-list"></i>&nbsp;回到列表</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

@section scripts {
    <script type="text/javascript">
        $(function () {
            erato.topNavActive($('#menu-center1'));
        });
    </script>
}