@model Erato.Model.Magnet

@{
    ViewBag.Title = "磁石批次信息";
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title <small>磁石批次信息</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="/">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">磁石批次信息</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-header"></i>磁石批次信息
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="width:20%;">属性</th>
                            <th>值</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.LotNo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.LotNo)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.ProductNo)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.ProductNo)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Quantity)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.OperationTime)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.OperationTime)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Operator)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Operator)
                            </td>
                        </tr>
                    </tbody>
                </table>

                <hr />
                <p>
                    <a href="@Url.Action("Index", new { controller = "Magnet" })" class="btn btn-primary" role="button"><i class="fa fa-list"></i>&nbsp;回到列表</a>
                    <a href="@Url.Action("Edit", new { controller = "Magnet", id = Model._id })" class="btn btn-warning" role="button"><i class="fa fa-edit"></i>&nbsp;编辑</a>
                    <a href="@Url.Action("Delete", new { controller = "Magnet", id = Model._id })" class="btn btn-danger" role="button"><i class="fa fa-minus-circle"></i>&nbsp;删除</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->


@section scripts {
    <script type="text/javascript">
        $(function () {
            erato.topNavActive($('#menu-center'));
        });
    </script>
}
