@model IEnumerable<Erato.Model.ACT>

@{
    ViewBag.Title = "ACT组立工序";
    ACT last = ViewBag.Last;
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title <small>工序入口</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#">组立中心</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "ACT")">ACT组立工序</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">工序入口</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">Action</a>
                </li>
                <li>
                    <a href="#">Another action</a>
                </li>
                <li>
                    <a href="#">Something else here</a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="#">Separated link</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-10">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>前一批次信息
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal">
                    <div class="form-body">
                        @if (last == null)
                        {
                            <h2>无</h2>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">LOTNO:</label>
                                        <div class="col-md-9">
                                            <input type="text" readonly="readonly" class="form-control" value="@last.LotNo" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">金型:</label>
                                        <div class="col-md-9">
                                            <input type="text" readonly="readonly" class="form-control" value="@last.MetalType" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">腔体:</label>
                                        <div class="col-md-9">
                                            <input type="text" readonly="readonly" class="form-control" value="@last.Cavity" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">数量:</label>
                                        <div class="col-md-9">
                                            <input type="text" readonly="readonly" class="form-control" value="@last.Total" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">外观后数量:</label>
                                        <div class="col-md-8">
                                            <input type="text" readonly="readonly" class="form-control" value="@last.Output" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">不良数:</label>
                                        <div class="col-md-8">
                                            <input type="text" readonly="readonly" class="form-control" value="@last.DefectiveNum" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">良品数:</label>
                                        <div class="col-md-8">
                                            <input type="text" readonly="readonly" class="form-control" value="@last.Output" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">操作员:</label>
                                        <div class="col-md-8">
                                            <input type="text" readonly="readonly" class="form-control" value="@last.Operator" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">时间:</label>
                                        <div class="col-md-8">
                                            <input type="text" readonly="readonly" class="form-control" value="@last.OperationTime" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
    <div class="col-md-2">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gears"></i>操作
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <a href="@Url.Action("Create", "ACT")" class="btn red-flamingo btn-block">新建批次</a>
                <input type="button" class="btn grey-gallery btn-block" value="关闭">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-steel">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>ACT组立信息
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="act-table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.LotNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MetalType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cavity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Total)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Output)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DefectiveNum)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Products)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Operator)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OperationTime)
                            </th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LotNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MetalType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cavity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Output)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DefectiveNum)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Products)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Operator)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OperationTime)
                                </td>
                                <td>
                                    <a href="@Url.Action("Details", new { controller = "ACT", id = item._id })" class="btn btn-info btn-sm" role="button"><i class="fa fa-check-circle"></i>&nbsp;查看</a>
                                    <a href="@Url.Action("Edit", new { controller = "ACT", id = item._id })" class="btn btn-warning btn-sm" role="button"><i class="fa fa-edit"></i>&nbsp;编辑</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

@section scripts {
    <script type="text/javascript">
        $(function () {
            erato.topNavActive($('#menu-center'));
            erato.initDatatable($('#blade-spring-table'));
        });
    </script>
}
